/* .contain{margin-left: 45%} */
body{
    padding: 10px;
}
.contain{font-size: 20px}
.total{font-size: 30px}
ul.list {list-style: none; word-spacing: 100px; font-size: 20px; text-align: center}

ul.list li{display: inline;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}